@charset "UTF-8";
/*! ============================================
/*! このCSSファイルはSassから生成されていますので、
/*! 編集しないようにご注意ください。
/*! ============================================*/

//==============================================================
//サイトの基本設定
//==============================================================

// フォント関係の設定 --------------------------------------------
$font-family: 'Noto Serif', 'Noto Serif JP', serif;

// 色関係の設定 --------------------------------------------------
//背景カラー
$color-bg: #282F35;
//フォントカラー
$font-color_main: #141414;
//リンクホバーカラー
$hover-dark: rgba(23,23,23,.7);
//ボタンカラー
$btn-color: #F7D43F;

// レスポンシブの設定 ----------------------------------------------
// レイアウト・コンテナー幅
$layout-width-inner: 1000px;
$layout-width-outer: 1200px;

// ブレイクポイント ------------------------------------------------
$breakpoints: (
 sp: "screen and (max-width: 767px)",
 tab: "screen and (max-width: #{$layout-width-inner - 1px})",
 pc: "screen and (min-width: #{$layout-width-inner})",
);