@charset "UTF-8";
@import "../base/setting";

// ==========================================================================
// /* header */
// ==========================================================================

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 19px 30px;
    width: 100%;
    box-sizing: border-box;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $layout-width-outer;
        margin: 0 auto;
    }
    &__logo {
        font-size: 2.6rem;
    }
}

.nav {
    @include mq('sp'){
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: $color-bg;
        color: #fff;
    }
    &__list {
        display: flex;
        @include mq('sp'){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    &__link {
        color: #fff;
        font-style: italic;
        font-weight: bold;
    }
    &__item:not(:last-of-type) {
        margin-right: 30px;
        @include mq('sp'){
            margin: 0 0 30px;
        }
    }
}

.burger-btn{
    display: none;
    @include mq('sp'){
        display: block;
        position: absolute;
        top: 30px;
        right: 4vw;
        z-index: 20;
    }
    &__bar{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: .3s;
        
        &-top,&-mid{
            margin-bottom: 10px;
        }
    }
    //ハンバーガーメニューの閉じる×ボタン
    &.cross{
        .burger-btn__bar-top{
            transform: rotate(45deg) translate(9px,9px);
            transition: .3s;
        }
        .burger-btn__bar-mid{
            opacity: 0;
            transition: .3s;
        }
        .burger-btn__bar-btm{
            transform:rotate(-45deg) translate(9px,-9px);
            transition: .3s;
        }
    }
}